.widgets {
    padding: 0 15px;
    flex: 0.4;
    width: auto;
    border-left: 2px solid var(--twitter-selection-background);
}
.widgets__search {
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: #E5EBEF;
    border-radius: 50px;
}
.widgets__search__icon {
    margin: 0 10px;
}
.widgets__search > input {
    border: none;
    height: 30px;
    width: 100%;
    background-color: #E5EBEF;
}
.widgets__search > input::placeholder {
    font-size: 18px;
}
.widgets__contents > h2 {
    margin: 20px 15px;
    font-size: 18px;
    font-weight: 800;
}