.sidebar__items:link,
.sidebar__items:visited,
.sidebar__items {
    color: black;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.sidebar__items:hover {
    color: var(--twitter-blue);
    cursor: pointer;
    border-radius: 99px;
    background-color: var(--twitter-selection-background);
    transition: color 0.15s ease-out;
}
.sidebar__items > h2 {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1090px) {
    .sidebar__items {
        margin: 5px 10px;
    }
    .sidebar__items__name {
        display: none;
    }
}

@media (max-width: 895px) {
    .more {
       display: none; 
    }
}

@media (max-width: 605px) {
    .bookmark {
       display: none; 
    }
    .lists {
        display: none; 
    }
    .profile {
        display: none; 
    }
    .main__icons {
        padding: 10px 20px;
    }
}
