.tweet__box {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    border-bottom: 10px solid var(--twitter-selection-background);
}
.tweet__box__contents {
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.TwwetBox__profilePic {
    width: 60px;
    height: 60px;
    border-radius: 999px;
}
.tweet__box__contents > input {
    padding: 0 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 50px;
    font-size: 20px;
}
.tweet__box__contents > input::placeholder {
    font-size: 20px;
}
.tweet__box__attach {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tweet__box__attach > a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: var(--twitter-blue-secondary);
    padding: 15px 20px;
    border-radius: 99px;
}
.tweet__box__attach__items {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.attach__item {
    padding-right: 10px;
    color: var(--twitter-blue-secondary);
}