.sidebar {
    position: sticky;
    top: 0;
    min-width: 250px;
    padding-right: 20px;
    height: 100vh;
    border-right: 2px solid var(--twitter-selection-background);
}
.twitter__icon {
    font-size: 60px;
    margin: 20px auto 0 20px;
    color: var(--twitter-blue);
}
.tweet__button {
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: var(--twitter-blue);
    border-radius: 99px;
}