.sidebar {
    position: sticky;
    top: 0;
    width: 20%;
    min-width: 200px;
    margin-right: 20px;
    height: 100vh;
    border-right: 2px solid var(--twitter-selection-background);
}
.twitter__icon {
    font-size: 60px;
    margin: 20px auto 0 20px;
    color: var(--twitter-blue);
}
.tweet__button {
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    background-color: var(--twitter-blue);
    border-radius: 99px;
}
.add__tweet__img {
    width: 60px;
    display: none;
}
.para__sidebar {
    display: none;
}
@media (max-width: 1090px) {
    .sidebar {
        width: auto;
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .twitter__icon {
        margin: 10px 15px 15px 15px;
    }
    .tweet__button {
        display: none;
    }
    .add__tweet__img {
        display: inline-block;
        margin: 15px 10px;
        
    }
    
}

@media (max-width: 895px) {
    .sidebar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        position: sticky;
        bottom: 0;
        background-color: white;
        z-index: 3;
        width: 100%;
        height: fit-content;
        border-top: 2px solid var(--twitter-selection-background);
    }
    .twitter__icon {
        display: none;
    }
    .more__icon {
        display: none;
    }
    .add__tweet__img {
        display: none;
    }
}

@media (max-width: 895px) {

}